@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&family=Source+Sans+Pro&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Source Sans Pro";
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Fjalla One";
}

:root {
  --primary-100: #fff1b4;
  --primary-200: #ffe888;
  --primary-300: #ffe163;
  --primary-400: #fcd842;
  --primary-500: #e8bf13;
  --secondary-100: #f3667a;
  --secondary-200: #e03c53;
  --secondary-300: #cc142d;
  --secondary-400: #a4061c;
  --secondary-500: #7e0011;
  --tertiary-100: #0c3bbb;
  --tertiary-200: #072d95;
  --tertiary-300: #04247b;
  --tertiary-400: #021b5f;
  --tertiary-500: #01113e;
  --fourty-100: #fafafb;
  --fourty-200: #dfe1eb;
  --fourty-300: #b9bed4;
  --fourty-400: #8a92b4;
  --fourty-500: #5f6997;
  --almost: calc(100vh - 2.5rem);
  --almost-chart: 70vh;
}

#app {
  position: absolute;
  z-index: 20;
  width: 100vw;
}
